.mission{
    border-style: solid;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 9.5;
    }
.mission1{
/*  background-color: blue;*/
}
.mission2{
/*background: url(./images/bg.jpg);*/
}
.mission3{
/*  
text-align: center;
line-height: 9;    
*/
    
}
